services:
  postgres:
    image: postgres:latest
    container_name: sesame_keycloak-database
    environment:
      POSTGRES_DB: sesame-keycloak-service
      POSTGRES_USER: sesame
      POSTGRES_PASSWORD: sesame
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: sesame-keycloak-service
    ports:
      - "8180:8180"
    environment:
      KEYCLOAK_ADMIN: sesame
      KEYCLOAK_ADMIN_PASSWORD: sesame
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres/sesame-keycloak-service
      KC_DB_USERNAME: sesame
      KC_DB_PASSWORD: sesame
      KC_HOSTNAME: localhost
    command:
      - start-dev
      - --http-port 8180
      - --import-realm
    depends_on:
      - postgres
    volumes:
      - ${TOP_DIR}/conf:/opt/keycloak/data/import